/* less define */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* overall */
.clearfix,
header,
.container.home article,
.container.home article .info {
  zoom: 1;
}
.clearfix:after,
header:after,
.container.home article:after,
.container.home article .info:after {
  content: ".";
  height: 0;
  width: 0;
  visibility: hidden;
  clear: both;
  font-size: 0;
  display: block;
}
.row {
  min-width: 270px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 540px) {
  .row {
    max-width: 680px;
  }
}
@media screen and (min-width: 800px) {
  .row {
    max-width: 1200px;
  }
}
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
a {
  text-decoration: none;
  color: #8e8e8e;
  outline: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
a:hover {
  color: #4ab3a5;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}
/* header */
header {
  border-bottom: 1px solid #ebebeb;
}
header .row {
  padding: 0;
}
@media screen and (min-width: 800px) {
  header .row {
    max-width: 700px;
  }
}
@media screen and (min-width: 540px) {
  header {
    border-bottom-color: #b7b7b7;
  }
  header .image {
    height: 200px;
    background: url("../images/header-img.jpg") no-repeat transparent;
    background-size: 100% auto;
    background-position: 0 100%;
    position: relative;
  }
  header .image .overlay {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
}
@media screen and (min-width: 800px) {
  header .image {
    height: 300px;
  }
}
@media screen and (min-width: 540px) {
  header .mini-nav {
    display: none;
  }
}
header .mini-nav li {
  float: right;
  border-left: 1px solid #ebebeb;
}
header .mini-nav li:first-child {
  float: left;
  border-left: none;
  border-right: 1px solid #ebebeb;
}
header .mini-nav li a {
  display: block;
  height: 50px;
  width: 50px;
  background: url("../images/mini-icons.png") no-repeat transparent;
  text-indent: -9999px;
}
@media screen and (-webkit-device-pixel-ratio: 2) {
  header .mini-nav li a {
    background-image: url("../images/mini-icons@2x.png");
    background-size: 250px 50px;
  }
}
header .mini-nav .tag a {
  background-position: -50px 0;
}
header .mini-nav .category a {
  background-position: -100px 0;
}
header .mini-nav .about a {
  background-position: -150px 0;
}
header .mini-nav .search a {
  background-position: -200px 0;
}
header .main-nav {
  width: 100%;
  float: left;
}
@media screen and (min-width: 540px) {
  header .main-nav {
    float: none;
    height: 60px;
  }
  header .main-nav .category .drop-menu {
    width: 80px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -50px;
  }
  header .main-nav .category .drop-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  header .main-nav .category .drop-menu li:first-child {
    padding-top: 0;
  }
}
@media screen and (min-width: 800px) {
  header .main-nav .right {
    float: right;
    padding-left: 100px;
  }
  header .main-nav .right li {
    width: 30%;
    padding: 0;
  }
  header .main-nav .right li.search {
    width: 60%;
  }
  header .main-nav .right li.search input {
    float: right;
  }
  header .main-nav .left {
    float: left;
    padding-right: 100px;
  }
  header .main-nav .left li,
  header .main-nav .left li.drop {
    width: 30%;
    padding: 0;
  }
  header .main-nav .left li a:after,
  header .main-nav .left li.drop a:after {
    right: 0;
    margin-right: 5px;
  }
  header .main-nav .left,
  header .main-nav .right {
    width: 50%;
    box-sizing: border-box;
  }
  header .main-nav .left li,
  header .main-nav .right li {
    text-align: center;
  }
}
@media screen and (min-width: 540px) {
  header .main-nav li {
    float: left;
    position: relative;
    padding-right: 20px;
    padding-left: 10px;
  }
  header .main-nav li.drop {
    padding-right: 30px;
  }
  header .main-nav li.drop > a:after {
    content: "";
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #8e8e8e transparent transparent transparent;
    border-width: 6px;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 15px;
  }
}
header .main-nav > ul > li > a {
  display: none;
}
@media screen and (min-width: 540px) {
  header .main-nav > ul > li > a {
    display: inline;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 60px;
    padding-bottom: 5px;
  }
  header .main-nav > ul > li > a:hover {
    border-bottom: 4px solid #8e8e8e;
  }
}
header .main-nav .drop-menu {
  border-top: 1px solid #ebebeb;
  padding: 10px 5px;
  text-align: center;
  display: none;
}
header .main-nav .drop-menu.active {
  display: block;
}
header .main-nav .drop-menu li {
  display: inline-block;
  padding: 5px;
}
@media screen and (min-width: 540px) {
  header .main-nav .drop-menu li {
    width: 50%;
    box-sizing: border-box;
    text-align: center;
  }
}
header .main-nav .drop-menu li a {
  font-size: 14px;
  font-size: 1.4rem;
}
@media screen and (min-width: 540px) {
  header .main-nav .drop-menu {
    display: block;
    position: absolute;
    background: #fff;
    border-radius: 4px;
    width: 120px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
    left: 50%;
    margin-left: -60px;
    top: 45px;
    z-index: 2;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 0.5s cubic-bezier(0.35, 1.2, 0.4, 1);
    transition: 0.5s cubic-bezier(0.35, 1.2, 0.4, 1);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  header .main-nav .drop-menu.active {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
header .main-nav .search {
  border-top: 1px solid #ebebeb;
  height: 35px;
  display: none;
}
header .main-nav .search.active {
  display: block;
}
@media screen and (min-width: 540px) {
  header .main-nav .search {
    display: block;
    float: right;
    border: none;
    margin-top: 14px;
    padding: 0;
    padding-right: 8px;
  }
}
header .main-nav .search input {
  -webkit-appearance: none;
  border: none;
  height: 35px;
  padding: 0 10px;
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem;
  color: #8e8e8e;
}
header .main-nav .search input::-webkit-input-placeholder {
  -webkit-font-smoothing: antialiased;
}
header .main-nav .search input:focus {
  border: none;
  outline: none;
}
header .main-nav .search input:focus::-webkit-input-placeholder {
  color: transparent;
}
@media screen and (min-width: 540px) {
  header .main-nav .search input {
    border: 1px solid #8e8e8e;
    border-radius: 10px;
    display: inline-block;
    margin: 0;
    height: 30px;
    width: 130px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  header .main-nav .search input::-webkit-input-placeholder {
    font-size: 16px;
    font-size: 1.6rem;
  }
  header .main-nav .search input:focus {
    border: 1px solid #8e8e8e;
    width: 150px;
  }
}
@media screen and (min-width: 540px) {
  header .main-nav .tag,
  header .main-nav .category,
  header .main-nav .search {
    display: block;
  }
}
header .avatar {
  display: none;
}
@media screen and (min-width: 540px) {
  header .avatar {
    display: block;
    position: absolute;
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
    top: 50%;
    left: 50%;
    margin-left: -65px;
    margin-top: -65px;
    background: url("../images/avatar.jpg") no-repeat transparent;
    border: 5px solid #ffffff;
    background-size: 120px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
}
@media screen and (min-width: 540px) and (-webkit-device-pixel-ratio: 2) {
  header .avatar {
    background-image: url("../images/avatar@2x.jpg");
  }
}
@media screen and (min-width: 800px) {
  header .avatar {
    width: 150px;
    height: 150px;
    top: 100%;
    background-size: 150px;
    margin-left: -80px;
    margin-top: -80px;
  }
}
/* conatiner */
.container {
  /* for home page */
  /* for load button */
}
.container.home {
  margin-top: 20px;
}
@media screen and (min-width: 540px) {
  .container.home {
    margin-top: 30px;
  }
}
@media screen and (min-width: 800px) {
  .container.home {
    margin-top: 50px;
  }
}
.container.home h1 {
  font-size: 36px;
  font-size: 3.6rem;
  text-align: center;
  color: #8e8e8e;
  padding: 0 5px;
  font-weight: bold;
}
@media screen and (min-width: 540px) {
  .container.home h1 {
    padding: 0 5px 20px 5px;
    background: url("../images/head-line.png") no-repeat;
    background-position: 50% 100%;
  }
}
.container.home article {
  margin: 20px 0 20px 0;
  background: url("../images/dash-line.png") repeat-x;
  background-position: 0 100%;
}
@media screen and (min-width: 540px) {
  .container.home article {
    margin: 40px 0 40px 0;
  }
}
@media screen and (min-width: 800px) {
  .container.home article {
    padding-left: 120px;
    margin: 80px 0 80px 0;
  }
  .container.home article:first-of-type {
    margin-top: 40px;
  }
}
.container.home article .info {
  border-bottom: 1px solid #ebebeb;
  padding: 0 2px 5px 2px;
  color: #b7b7b7;
  font-size: 12px;
  font-size: 1.2rem;
  position: relative;
}
@media screen and (min-width: 800px) {
  .container.home article .info {
    padding-left: 15px;
  }
}
.container.home article .info div {
  float: left;
}
.container.home article .info .categories,
.container.home article .info .tags {
  display: none;
}
.container.home article .info .comments {
  float: right;
}
.container.home article .info .big-date {
  display: none;
}
@media screen and (min-width: 800px) {
  .container.home article .info .big-date {
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    border: 6px solid #ebebeb;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 0;
    margin-left: -112px;
    top: 0;
    margin-top: -30px;
    text-align: center;
    overflow: hidden;
  }
  .container.home article .info .big-date span {
    font-size: 30px;
    font-size: 3rem;
    line-height: 100px;
    font-weight: bold;
  }
  .container.home article .info .big-date span.month {
    margin-left: 5px;
  }
}
@media screen and (min-width: 540px) {
  .container.home article .info {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .container.home article .info .categories,
  .container.home article .info .tags {
    display: block;
  }
  .container.home article .info .time-stamp {
    float: right;
    color: #8e8e8e;
    padding-left: 0;
    border-left: 0;
    margin-right: 0;
  }
  .container.home article .info .comments {
    float: left;
  }
  .container.home article .info div {
    margin-right: 10px;
    margin-bottom: 10px;
    border-left: 1px solid #ebebeb;
    padding-left: 10px;
    color: #4ab3a5;
  }
  .container.home article .info div:first-child {
    padding-left: 0;
    border-left: 0;
  }
  .container.home article .info div ul,
  .container.home article .info div li {
    display: inline-block;
  }
}
.container.home article h2 {
  color: #000;
  font-size: 20px;
  font-size: 2rem;
  text-align: center;
  margin: 15px 0;
  line-height: 1.2;
}
@media screen and (min-width: 540px) {
  .container.home article h2 {
    text-align: left;
    font-size: 30px;
    font-size: 3rem;
    margin-top: 25px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 800px) {
  .container.home article h2 {
    padding-left: 10px;
  }
}
.container.home article h2 a {
  color: #272727;
}
.container.home article h2 a:hover {
  color: #4ab3a5;
}
.container.home article p {
  font-size: 14px;
  font-size: 1.4rem;
  color: #757575;
  line-height: 1.4;
  word-warp: break-word;
  word-break: break-all;
  text-align: justify;
  margin-bottom: 1em;
}
@media screen and (min-width: 540px) {
  .container.home article p {
    line-height: 1.6;
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 800px) {
  .container.home article p {
    padding-left: 10px;
  }
}
.container.home article .more {
  float: right;
  margin: 10px 0;
  font-size: 12px;
  font-size: 1.2rem;
}
@media screen and (min-width: 540px) {
  .container.home article .more {
    font-size: 16px;
    font-size: 1.6rem;
    margin: 10px 0 40px 0;
    float: left;
  }
  .container.home article .more a {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 3px;
    color: #4ab3a5;
  }
  .container.home article .more a:hover {
    border-color: #4ab3a5;
  }
}
@media screen and (min-width: 800px) {
  .container.home article .more {
    margin-left: 10px;
  }
}
.container .load {
  margin: 15px 0;
  padding: 0;
}
.container .load a {
  display: block;
  margin: 0 auto;
  width: 140px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background: #4ab3a5;
  text-align: center;
  font-size: 16px;
  font-size: 1.6rem;
  border-radius: 6px;
}
@media screen and (min-width: 540px) {
  .container .load {
    margin: 30px 0;
  }
}
/* footer */
footer {
  text-align: center;
  color: #8e8e8e;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
@media screen and (min-width: 540px) {
  footer {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
