/* less define */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
q::before,
blockquote::after,
q::after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* overall */
.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: ".";
  height: 0;
  width: 0;
  visibility: hidden;
  clear: both;
  font-size: 0;
  display: block;
}
.row {
  min-width: 270px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 540px) {
  .row {
    max-width: 680px;
  }
}
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
a {
  text-decoration: none;
  color: #8e8e8e;
  outline: 0;
}
a:hover {
  color: #4ab3a5;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}
/* header */
header {
  border-bottom: 1px solid #e6eaed;
}
header .row {
  padding: 0;
}
@media screen and (min-width: 540px) {
  header .image {
    height: 300px;
    background: url("../images/header-img.jpg") no-repeat transparent;
    background-size: 100% auto;
    background-position: 0 100%;
    position: relative;
  }
  header .image .overlay {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
}
@media screen and (min-width: 540px) {
  header .mini-nav {
    display: none;
  }
}
header .mini-nav li {
  float: right;
  border-left: 1px solid #e6eaed;
}
header .mini-nav li:first-child {
  float: left;
  border-left: none;
  border-right: 1px solid #e6eaed;
}
header .mini-nav li a {
  display: block;
  height: 50px;
  width: 50px;
  background: url("../images/mini-icons.png") no-repeat transparent;
  text-indent: -9999px;
}
@media screen and (-webkit-device-pixel-ratio: 2) {
  header .mini-nav li a {
    background-image: url("../images/mini-icons@2x.png");
    background-size: 250px 50px;
  }
}
header .mini-nav .tag a {
  background-position: -50px 0;
}
header .mini-nav .category a {
  background-position: -100px 0;
}
header .mini-nav .about a {
  background-position: -150px 0;
}
header .mini-nav .search a {
  background-position: -200px 0;
}
header .main-nav {
  width: 100%;
  float: left;
}
@media screen and (min-width: 540px) {
  header .main-nav {
    float: none;
    height: 60px;
  }
}
@media screen and (min-width: 540px) {
  header .main-nav li {
    float: left;
    position: relative;
    padding-right: 20px;
    padding-left: 10px;
  }
  header .main-nav li.drop {
    padding-right: 30px;
  }
  header .main-nav li.drop > a::after {
    content: "";
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #8e8e8e transparent transparent transparent;
    border-width: 8px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 10px;
  }
}
header .main-nav > ul > li > a {
  display: none;
}
@media screen and (min-width: 540px) {
  header .main-nav > ul > li > a {
    display: inline;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 60px;
  }
}
header .main-nav .drop-menu {
  border-top: 1px solid #e6eaed;
  padding: 10px 5px;
  text-align: center;
}
header .main-nav .drop-menu li {
  display: inline-block;
  padding: 5px;
}
header .main-nav .drop-menu li a {
  font-size: 14px;
  font-size: 1.4rem;
}
@media screen and (min-width: 540px) {
  header .main-nav .drop-menu {
    position: absolute;
    display: none;
  }
}
header .main-nav .search {
  border-top: 1px solid #e6eaed;
  height: 35px;
}
@media screen and (min-width: 540px) {
  header .main-nav .search {
    float: right;
    border: none;
    margin-top: 14px;
    padding: 0;
    padding-right: 8px;
  }
}
header .main-nav .search input {
  -webkit-appearance: none;
  border: none;
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  font-size: 1.4rem;
}
header .main-nav .search input:focus {
  border: none;
  outline: none;
}
header .main-nav .search input:focus::-webkit-input-placeholder {
  color: transparent;
}
@media screen and (min-width: 540px) {
  header .main-nav .search input {
    border: 1px solid #8e8e8e;
    border-radius: 10px;
    display: inline-block;
    margin: 0;
    height: 30px;
  }
  header .main-nav .search input:focus {
    border: 1px solid #8e8e8e;
  }
}
header .main-nav .tag,
header .main-nav .category,
header .main-nav .search {
  display: none;
}
@media screen and (min-width: 540px) {
  header .main-nav .tag,
  header .main-nav .category,
  header .main-nav .search {
    display: block;
  }
}
header .avatar {
  display: none;
}
@media screen and (min-width: 540px) {
  header .avatar {
    display: block;
    position: absolute;
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
    top: 50%;
    left: 50%;
    margin-left: -80px;
    margin-top: -80px;
    background: url("../images/avatar.jpg") no-repeat transparent;
    border: 5px solid #fff;
  }
}
@media screen and (min-width: 540px) and (-webkit-device-pixel-ratio: 2) {
  header .avatar {
    background-image: url("../images/avatar@2x.jpg");
    background-size: 150px;
  }
}
/* conatiner */
.container {
  /* for home page */

  /* for load button */

}
.container.home {
  margin-top: 20px;
}
.container.home h1 {
  font-size: 36px;
  font-size: 3.6rem;
  text-align: center;
  color: #8e8e8e;
  padding: 0 5px;
  font-weight: bold;
}
.container.home article {
  margin: 40px 0 20px 0;
  border-bottom: 1px dashed #b7b7b7;
}
.container.home article .info {
  border-bottom: 1px solid #b7b7b7;
  padding: 0 2px 5px 2px;
  color: #b7b7b7;
  font-size: 14px;
  font-size: 1.4rem;
}
.container.home article .info div {
  float: left;
}
.container.home article .info .categories,
.container.home article .info .tags {
  display: none;
}
.container.home article .info .comments {
  float: right;
}
.container.home article h2 {
  color: #000;
  font-size: 24px;
  font-size: 2.4rem;
  text-align: center;
  margin: 15px 0;
  line-height: 1.2;
}
.container.home article h2 a {
  color: #272727;
}
.container.home article h2 a:hover {
  color: #4ab3a5;
}
.container.home article p {
  font-size: 16px;
  font-size: 1.6rem;
  text-indent: 2em;
  color: #757575;
  line-height: 1.4;
  word-warp: break-word;
  word-break: break-all;
}
.container.home article .more {
  float: right;
  margin: 10px 0;
  font-size: 14px;
  font-size: 1.4rem;
}
.container .load {
  margin: 15px 0;
  padding: 0;
}
.container .load a {
  display: block;
  margin: 0 auto;
  width: 140px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background: #4ab3a5;
  text-align: center;
  font-size: 16px;
  font-size: 1.6rem;
  border-radius: 6px;
}
/* footer */
footer {
  text-align: center;
  color: #8e8e8e;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
