/* less define */
@main-green: #4AB3A5;
@text-dark: #272727;
@text-lighter: #8e8e8e;
@text-lightest: #b7b7b7;
@border-gray: #ebebeb;
@background-white: #fefefe;

@img: "../images/";

@gte540: ~"screen and (min-width: 540px)";
@gte800: ~"screen and (min-width: 800px)";
@p2x: ~"screen and (-webkit-device-pixel-ratio: 2)";

.font-size(@size) {
    font-size: unit(@size, px);
    font-size: unit(@size/10, rem);
}

.transition(@property) {
    -webkit-transition: @property;
    transition: @property;
}

.transform(@property) {
    -webkit-transform: @property;
    transform: @property;
}

.transform-origin(@property) {
    -webkit-transform-origin: @property;
    transform-origin: @property;
}

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;

    &:before, &:after {
        content: '';
        content: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* overall */
.clearfix {
    zoom: 1;

    &:after {
        content: ".";
        height: 0;
        width: 0;
        visibility: hidden;
        clear: both;
        font-size: 0;
        display: block;
    }
}

.row {
    min-width: 270px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @media @gte540 {
        max-width: 680px;
    }

    @media @gte800 {
        max-width: 1200px;
    }
}

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei",
        "微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
}

a {
    text-decoration: none;
    color: @text-lighter;
    outline: 0;
    .transition(0.2s ease);

    &:hover {
        color: @main-green;
    }
}

input {
    &::-webkit-search-decoration, &::-webkit-search-cancel-button {
        display: none;
    }
}

/* header */
header {
    &:extend(.clearfix all);
    @header-border: 1px solid @border-gray;

    border-bottom: @header-border;

    .row {
        padding: 0;

        @media @gte800 {
            max-width: 700px;
        }
    }

    @media @gte540 {
        border-bottom-color: @text-lightest;

        .image {
            height: 200px;
            background: url("@{img}header-img.jpg") no-repeat transparent;
            background-size: 100% auto;
            background-position: 0 100%;
            position: relative;

            .overlay {
                position: absolute;
                height: 100%;
                top: 0;
                left: 0;
                width: 100%;
                background: rgba(0, 0, 0, 0.1);
                z-index: 2;
            }
        }
    }

    @media @gte800 {
        .image {
            height: 300px;
        }
    }

    .mini-nav {
        @media @gte540 {
            display: none;
        }
       
        li {
            float: right;
            border-left: @header-border;

            &:first-child {
                float: left;
                border-left: none;
                border-right: @header-border;
            }

            a {
                display: block;
                height: 50px;
                width: 50px;
                background: url("@{img}mini-icons.png") no-repeat transparent;
                text-indent: -9999px;

                @media @p2x {
                    background-image: url("@{img}mini-icons@2x.png");
                    background-size: 250px 50px;
                }
            }
        }

        .tag a {
            background-position: -50px 0;
        }

        .category a {
            background-position: -100px 0;
        }

        .about a {
            background-position: -150px 0;
        }

        .search a {
            background-position: -200px 0;
        }
    }

    .main-nav {
        width: 100%;
        float: left;

        @media @gte540 {
            float: none;
            height: 60px;

            .category .drop-menu {
                width: 80px;
                padding-left: 10px;
                padding-right: 10px;
                margin-left: -50px;

                li {
                    float: none;
                    width: 100%;
                    text-align: center;
                    border-bottom: 1px solid @border-gray;
                    padding-bottom: 10px;
                    padding-top: 10px;

                    &:first-child {
                        padding-top: 0;
                    }
                }
            }
        }

        @media @gte800 {
            .right {
                float: right;
                padding-left: 100px;

                li {
                    width: 30%;
                    padding: 0;
                }
                li.search {
                    width: 60%;

                    input {
                        float: right;
                    }
                }
            }
            .left {
                float: left;
                padding-right: 100px;

                li, li.drop {
                    width: 30%;
                    padding: 0;

                    a:after {
                        right: 0;
                        margin-right: 5px;
                    }
                }
            }
            .left, .right {
                width: 50%;
                box-sizing: border-box;
                li {
                    text-align: center;
                }
            }
        }

        li {
            @media @gte540 {
                float: left;
                position: relative;
                padding-right: 20px;
                padding-left: 10px;

                &.drop {
                    padding-right: 30px;

                    & > a:after {
                        content: "";
                        height: 0;
                        width: 0;
                        border-style: solid;
                        border-color: @text-lighter transparent transparent transparent;
                        border-width: 6px;
                        position: absolute;
                        top: 50%;
                        margin-top: -3px;
                        right: 15px;
                    }
                }
            }
        }


        & > ul > li > a {
            display: none;

            @media @gte540 {
                display: inline;
                .font-size(16);
                line-height: 60px;
                padding-bottom: 5px;

                &:hover {
                    border-bottom: 4px solid @text-lighter;
                }
            }
        }

        .drop-menu {
            border-top: @header-border; 
            padding: 10px 5px;
            text-align: center;
            display: none;

            &.active {
                display: block;
            }

            li {
                display: inline-block;
                padding: 5px;

                @media @gte540 {
                    padding-left: 10px;
                    padding-right: 10px;
                    width: 50%;
                    box-sizing: border-box;
                    text-align: center;
                    overflow: hidden;
                }
            }

            li a {
                .font-size(14);
            }

            @media @gte540 {
                display: block;
                position: absolute;
                background: #fff;
                border-radius: 4px;
                width: 150px;
                box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
                left: 50%;
                margin-left: -75px;
                top: 45px;
                z-index: 2;
                padding-left: 10px;
                padding-right: 10px;
                opacity: 0;
                pointer-events: none;
                .transition(0.5s cubic-bezier(0.35, 1.2, 0.4, 1));
                .transform(scale(0));
                .transform-origin(50% 0);

                &.active {
                    opacity: 1;
                    pointer-events: auto;
                    .transform(scale(1));
                }
            }
        }

        .search {
            border-top: @header-border; 
            height: 35px;
            display: none;

            &.active {
                display: block;
            }

            @media @gte540 {
                display: block;
                float: right;
                border: none;
                margin-top: 14px;
                padding: 0;
                padding-right: 8px;
            }

            input {
                -webkit-appearance: none;
                border: none;
                height: 35px;
                padding: 0 10px;
                width: 100%;
                .font-size(14);
                color: @text-lighter;

                &::-webkit-input-placeholder {
                    -webkit-font-smoothing: antialiased;
                }

                &:focus {
                    border: none;
                    outline: none;

                    &::-webkit-input-placeholder {
                        color: transparent;
                    } 
                }

                @media @gte540 {
                    border: 1px solid @text-lighter;
                    border-radius: 10px;
                    display: inline-block;
                    margin: 0;
                    height: 30px;
                    width: 130px;
                    .transition(0.3s ease);

                    &::-webkit-input-placeholder {
                        .font-size(16);
                    }

                    &:focus {
                        border: 1px solid @text-lighter;
                        width: 150px;
                    }
                }
            }
        }

        .tag, .category, .search {

            @media @gte540 {
                display: block;
            }
        }
    }

    .avatar {
        display: none;

        @media @gte540 {
            @size: 120px;
            @border: 5px;

            display: block;
            position: absolute;
            width: @size;
            height: @size;
            background: #fff;
            border-radius: 50%;
            z-index: 10;
            top: 50%;
            left: 50%;
            margin-left: -(@size + @border * 2) / 2;
            margin-top: -(@size + @border * 2) / 2;
            background: url("@{img}avatar.jpg") no-repeat transparent;
            border: @border solid #fff;
            background-size: @size;
            .transition(0.3s ease);

            @media (-webkit-device-pixel-ratio: 2) {
                background-image: url("@{img}avatar@2x.jpg");
            }
        }

        @media @gte800 {
            @size: 150px;
            @border: 5px;
            width: @size;
            height: @size;
            top: 100%;
            background-size: @size;
            margin-left: -(@size + @border * 2) / 2;
            margin-top: -(@size + @border * 2) / 2;
        }
    }
}

/* conatiner */
.container {
    margin-top: 20px;

    @media @gte540 {
        margin-top: 25px;
    }

    @media @gte800 {
        margin-top: 40px;
    }

    h1.blog-title {
        .font-size(28);
        text-align: center;
        color: @text-lighter;
        padding: 0 5px;
        font-weight: bold;

        @media @gte540 {
            padding: 0 5px 20px 5px;
            background: url("@{img}head-line.png") no-repeat;
            background-position: 50% 100%;
        }
    }

    article {
        &:extend(.clearfix all);
        margin: 20px 0 20px 0;
        //border-bottom: 1px dashed @border-gray;
        background: url("@{img}dash-line.png") repeat-x;
        background-position: 0 100%;

        @media @gte540 {
            margin: 40px 0 40px 0;
        }

        @media @gte800 {
            padding-left: 120px;
        }

        .info {
            &:extend(.clearfix all);
            border-bottom: 1px solid @border-gray;
            padding: 0 2px 5px 2px;                
            color: @text-lightest;
            .font-size(12);
            position: relative;

            @media @gte800 {
                padding-left: 15px;
            }

            div {
               float: left; 
            }

            .categories, .tags {
                display: none;
            }

            .comments {
                float: right;
            }

            .big-date {
                display: none;

                @media @gte800 {
                    display: block;
                    position: absolute;
                    padding: 0;
                    margin: 0;
                    border: 6px solid @border-gray;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    left: 0;
                    margin-left: -112px;
                    top: 0;
                    margin-top: -30px;
                    text-align: center;
                    overflow: hidden;

                    span {
                        .font-size(30);
                        line-height: 100px;
                        font-weight: bold;

                        &.month {
                            margin-left: 5px;
                        }
                    }
                }
            }

            @media @gte540 {
                .font-size(14);

                .categories, .tags {
                    display: block;
                }

                .time-stamp {
                    float: right;
                    color: @text-lighter;
                    padding-left: 0;
                    border-left: 0;
                    margin-right: 0;
                }

                .comments {
                    float: left;
                }

                div {
                    margin-right: 10px;
                    margin-bottom: 10px;
                    border-left: 1px solid @border-gray;
                    padding-left: 10px;
                    color: @main-green;

                    &:first-child {
                        padding-left: 0;
                        border-left: 0;
                    }

                    ul, li {
                        display: inline-block;
                    }
                }
            }

        }

        /* post format */
        .content {
            /* mixins */
            .calculatedSize(@sizeBase; @lineBase) {
                .font-size(floor(@sizeBase * 0.875));
                line-height: unit(floor(@sizeBase * @lineBase * 0.8), px);
                @media @gte540 {
                    .font-size(@sizeBase);
                    line-height: unit(@sizeBase * @lineBase, px);
                }
            }
            .bigMargin() {
                @media @gte800 {
                    margin-left: 10px;
                }
            }
            @media @gte800 {
                margin-left: 10px;
            }

            /* heading */
            h1, h2, h3, h4, h5, h6 {
                text-align: left;
                color: @text-dark;
                color: @text-dark;
                margin: 0.5em 0;

                a {
                    color: @text-dark;
                    &:hover {
                        color: @main-green;
                    }
                }
            }


            h1 {
                font-weight: bold;
                .calculatedSize(30;1.1);
            }
            h2 {
                font-weight: bold;
                .calculatedSize(28;1.1);
            }
            h3 {
                font-weight: bold;
                .calculatedSize(24;1.1);
            }
            h4 {
                .calculatedSize(18;1.1);
            }
            h5 {
                .calculatedSize(14;1.1);
            }
            h6 {
                .calculatedSize(12;1.1);
            }


            /* paragraph */
            p {
                color: darken(@text-lighter, 10%);
                word-wrap: break-word;
                word-break: break-all;
                text-align: justify;
                margin-bottom: 15px;
                .calculatedSize(16;1.5);
            }

            /* image */
            p img {
                max-width: 100%;
                height: auto;
                border: 1px solid @text-lightest;
                padding: 1px;
                box-sizing: border-box;
            }

            /* block quote */
            blockquote {
                padding-left: 1em;
                border-left: 5px solid @text-lightest;

                p {
                    margin-left: 0;
                    .calculatedSize(18;1.4);
                }
            }

            /* unordered list */
            ul {
                margin-bottom: 15px;
                .calculatedSize(16;1.5);
                color: darken(@text-lighter, 10%);
                list-style-type: disc;
                list-style-position: inside;

                li p {
                    margin-left: 0;
                }
            }  

            /* ordered list */
            ol {
                &:extend(.container article .content ul all);
                list-style-type: decimal; 
            }

            /* horizontal line */
            hr {
                border: none;
                border-bottom: 1px solid lighten(@text-lightest, 10%);
                margin: 0 0 15px 0;
            }

            /* inline elements */
            p { 
                /* links */
                a {
                    color: @main-green;
                    border-bottom: 1px dashed @text-lightest;
                    margin: 0 0.1em; 

                    &:hover {
                        color: darken(@main-green, 10%)
                    }
                }

                /* em */
                em {
                    font-style: italic;
                }

                /* strong */
                strong {
                    font-weight: bold;
                }

                /* code */
                code {
                    border: 1px solid @text-lightest;
                    margin: 0 0.2em;
                    background: lighten(@text-lightest, 25%);
                    word-break: normal; 
                }
            }

            /* code block */
            pre {
                background: lighten(@text-lightest, 25%);
                border: 1px solid @text-lightest;
                max-height: 30em;
                margin: 0 0 15px 0;
                code {
                    .calculatedSize(16;1.5);
                }
            }
        }

        /* read more button */
        .more {
            float: left;
            margin: 10px 0;
            .font-size(12); 

            @media @gte540 {
                .font-size(16); 
                margin: 20px 0 40px 0;

                a {
                    border-bottom: 1px solid @border-gray;
                    padding-bottom: 3px;
                    color: @main-green;

                    &:hover {
                       border-color: @main-green; 
                    }
                }
            }
        }
    }

    /* for control button */
    .control {
        &:extend(.clearfix all);
        margin-top: 15px;
        padding: 0;
        text-align: center;

        a {
            display: block;
            margin: 0 auto;
            width: 80px;
            height: 40px;
            line-height: 40px;
            color: #fff;
            background: @main-green;
            text-align: center;
            .font-size(12);
            border-radius: 6px;

            &:hover {
                background: darken(@main-green, 5%);
            }

            @media @gte540 {
                .font-size(16);
                height: 50px;
                line-height: 50px;
                width: 100px; 
            }
        }

        .disabled a {
            background: @text-lighter;
            cursor: not-allowed;

            &:hover {
                background: darken(@text-lighter, 5%);
            }
        }

        .previous {
            float: left;
        }

        .next {
            float: right;
        }

        .page {
            display: inline-block;
            top: 0;
            height: 40px;
            line-height: 40px;
            .font-size(14);
            color: @main-green;
            font-weight: bold;

            @media @gte540 {
                .font-size(18);
                height: 50px;
                line-height: 50px;
            }
        }

        @media @gte540 {
            margin-top: 30px;
        }
    }

    /* for share links */
    .share {
        &:extend(.container article .more all);
        color: @text-lighter;
        @media @gte800 {
            margin-left: 10px;
        }

        a {
            margin-left: 5px;
        }
    }

    /* specificy for list layout */
    &.list {
        article {
            background: none;
            padding-left: 0;
            background: url("@{img}dash-line.png") repeat-x;
            background-position: 0 100%;
            margin-bottom: 0;

            .content {
                &:extend(.clearfix all);

                h1 {
                    color: @text-lightest;
                    border-bottom: 1px solid @border-gray;
                    padding-bottom: 10px;
                    .font-size(24);
                    @media @gte540 {
                        .font-size(28);
                    }
                }

                .time-stamp {
                    @media @gte540 {
                        .font-size(20);
                    }
                }

                ul {
                    list-style: none;

                    li {
                        &:extend(.clearfix all);

                        @media @gte540 {
                            margin-bottom: 20px;
                        }

                        @media @gte800 {
                            width: 50%;
                            float: left;
                            box-sizing: border-box;

                            &:nth-child(odd) {
                                padding-right: 1%;
                                clear: left;
                            }

                            &:nth-child(even) {
                                clear: right;
                                padding-left: 1%;
                            }
                        }
                    }
                }

            }
        }
    }
}

/* footer */
footer {
    text-align: center;
    color: @text-lightest;
    .font-size(14);
    padding: 20px 10px;

    @media @gte540 {
        .font-size(16);
    }
}