/* less define */
@main-green: #4AB3A5;
@text-dark: #272727;
@text-lighter: #8e8e8e;
@text-lightest: #b7b7b7;
@nav-gray: #bcbcbc;
@background-white: #fefefe;

@img: "../images/";

@gte540: ~"screen and (min-width: 540px)";
@gte800: ~"screen and (min-width: 800px)";
@p2x: ~"screen and (-webkit-device-pixel-ratio: 2)";

.font-size(@size) {
    font-size: unit(@size, px);
    font-size: unit(@size/10, rem);
}

.transition(@property) {
    -webkit-transition: @property;
    transition: @property;
}

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;

    &:before, &:after {
        content: '';
        content: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* overall */
.clearfix {
    zoom: 1;

    &:after {
        content: ".";
        height: 0;
        width: 0;
        visibility: hidden;
        clear: both;
        font-size: 0;
        display: block;
    }
}

.row {
    min-width: 270px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @media @gte540 {
        max-width: 680px;
    }

    @media @gte800 {
        max-width: 1200px;
    }
}

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei",
        "微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
}

a {
    text-decoration: none;
    color: @text-lighter;
    outline: 0;
    .transition(0.2s ease);

    &:hover {
        color: @main-green;
    }
}

input {
    &::-webkit-search-decoration, &::-webkit-search-cancel-button {
        display: none;
    }
}

/* header */
header {
    &:extend(.clearfix all);
    @header-border: 1px solid #e6eaed;

    border-bottom: @header-border;

    .row {
        padding: 0;

        @media @gte800 {
            max-width: 700px;
        }
    }

    @media @gte540 {
        .image {
            height: 200px;
            background: url("@{img}header-img.jpg") no-repeat transparent;
            background-size: 100% auto;
            background-position: 0 100%;
            position: relative;

            .overlay {
                position: absolute;
                height: 100%;
                top: 0;
                left: 0;
                width: 100%;
                background: rgba(0, 0, 0, 0.1);
                z-index: 2;
            }
        }
    }

    @media @gte800 {
        .image {
            height: 300px;
        }
    }

    .mini-nav {
        @media @gte540 {
            display: none;
        }
       
        li {
            float: right;
            border-left: @header-border;

            &:first-child {
                float: left;
                border-left: none;
                border-right: @header-border;
            }

            a {
                display: block;
                height: 50px;
                width: 50px;
                background: url("@{img}mini-icons.png") no-repeat transparent;
                text-indent: -9999px;

                @media @p2x {
                    background-image: url("@{img}mini-icons@2x.png");
                    background-size: 250px 50px;
                }
            }
        }

        .tag a {
            background-position: -50px 0;
        }

        .category a {
            background-position: -100px 0;
        }

        .about a {
            background-position: -150px 0;
        }

        .search a {
            background-position: -200px 0;
        }
    }

    .main-nav {
        width: 100%;
        float: left;

        @media @gte540 {
            float: none;
            height: 60px;

            .category .drop-menu {
                width: 80px;
                padding-left: 10px;
                padding-right: 10px;
                margin-left: -50px;

                li {
                    float: none;
                    width: 100%;
                    text-align: center;
                    border-bottom: 1px solid @text-lightest;
                    padding-bottom: 10px;
                    padding-top: 10px;

                    &:first-child {
                        padding-top: 0;
                    }
                }
            }
        }

        @media @gte800 {
            .right {
                float: right;
                padding-left: 100px;

                li {
                    width: 30%;
                    padding: 0;
                }
                li.search {
                    width: 60%;

                    input {
                        float: right;
                    }
                }
            }
            .left {
                float: left;
                padding-right: 100px;

                li, li.drop {
                    width: 30%;
                    padding: 0;

                    a:after {
                        right: 0;
                        margin-right: 5px;
                    }
                }
            }
            .left, .right {
                width: 50%;
                box-sizing: border-box;
                li {
                    text-align: center;
                }
            }
        }

        li {
            @media @gte540 {
                float: left;
                position: relative;
                padding-right: 20px;
                padding-left: 10px;

                &.drop {
                    padding-right: 30px;

                    & > a:after {
                        content: "";
                        height: 0;
                        width: 0;
                        border-style: solid;
                        border-color: @text-lighter transparent transparent transparent;
                        border-width: 6px;
                        position: absolute;
                        top: 50%;
                        margin-top: -3px;
                        right: 15px;
                    }
                }
            }
        }


        & > ul > li > a {
            display: none;

            @media @gte540 {
                display: inline;
                .font-size(16);
                line-height: 60px;
                padding-bottom: 5px;

                &:hover {
                    border-bottom: 4px solid @text-lighter;
                }
            }
        }

        .drop-menu {
            border-top: @header-border; 
            padding: 10px 5px;
            text-align: center;

            li {
                display: inline-block;
                padding: 5px;
                
                @media @gte540 {
                    width: 50%;
                    box-sizing: border-box;
                    text-align: left;
                }
            }

            li a {
                .font-size(14);
            }

            @media @gte540 {
                position: absolute;
                display: none;
                background: #fff;
                border-radius: 4px;
                width: 120px;
                box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
                left: 50%;
                margin-left: -60px;
                top: 50px;
            }
        }

        .search {
            border-top: @header-border; 
            height: 35px;

            @media @gte540 {
                float: right;
                border: none;
                margin-top: 14px;
                padding: 0;
                padding-right: 8px;
            }

            input {
                -webkit-appearance: none;
                border: none;
                height: 35px;
                padding: 0 10px;
                width: 100%;
                .font-size(14);
                &::-webkit-input-placeholder {
                    -webkit-font-smoothing: antialiased;
                }

                &:focus {
                    border: none;
                    outline: none;

                    &::-webkit-input-placeholder {
                        color: transparent;
                    } 
                }

                @media @gte540 {
                    border: 1px solid @text-lighter;
                    border-radius: 10px;
                    display: inline-block;
                    margin: 0;
                    height: 30px;
                    color: @text-lighter;
                    width: 130px;
                    .transition(0.3s ease);

                    &::-webkit-input-placeholder {
                        .font-size(16);
                    }

                    &:focus {
                        border: 1px solid @text-lighter;
                        width: 150px;
                    }
                }
            }
        }

        .tag, .category, .search {
            display: none;

            @media @gte540 {
                display: block;
            }
        }
    }

    .avatar {
        display: none;

        @media @gte540 {
            @size: 120px;
            @border: 5px;

            display: block;
            position: absolute;
            width: @size;
            height: @size;
            background: #fff;
            border-radius: 50%;
            z-index: 10;
            top: 50%;
            left: 50%;
            margin-left: -(@size + @border * 2) / 2;
            margin-top: -(@size + @border * 2) / 2;
            background: url("@{img}avatar.jpg") no-repeat transparent;
            border: @border solid #fff;
            background-size: @size;
            .transition(0.3s ease);
        }

        @media @gte800 {
            @size: 150px;
            @border: 5px;
            width: @size;
            height: @size;
            top: 100%;
            background-size: @size;
            margin-left: -(@size + @border * 2) / 2;
            margin-top: -(@size + @border * 2) / 2;
        }

        @media screen and (min-width: 540px) and (-webkit-device-pixel-ratio: 2) {
            background-image: url("@{img}avatar@2x.jpg");
        }
    }
}

/* conatiner */
.container {

    /* for home page */
    &.home {
        margin-top: 20px;

        @media @gte540 {
            margin-top: 30px;
        }

        @media @gte800 {
            margin-top: 50px;
        }

        h1 {
            .font-size(36);
            text-align: center;
            color: @text-lighter;
            padding: 0 5px;
            font-weight: bold;
        }

        article {
            &:extend(.clearfix all);
            margin: 40px 0 20px 0;
            border-bottom: 1px dashed @text-lightest;

            @media @gte540 {
                margin: 40px 0 40px 0;
            }

            @media @gte800 {
                padding-left: 120px;
                margin: 80px 0 80px 0;

                &:first-of-type {
                    margin-top: 40px;
                }
            }

            .info {
                &:extend(.clearfix all);
                border-bottom: 1px solid @text-lightest;
                padding: 0 2px 5px 2px;                
                color: @text-lightest;
                .font-size(12);
                position: relative;

                @media @gte800 {
                    padding-left: 10px;
                }

                div {
                   float: left; 
                }

                .categories, .tags {
                    display: none;
                }

                .comments {
                    float: right;
                }

                .big-date {
                    display: none;

                    @media @gte800 {
                        display: block;
                        position: absolute;
                        padding: 0;
                        margin: 0;
                        border: 6px solid @text-lightest;
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        left: 0;
                        margin-left: -112px;
                        top: 0;
                        margin-top: -40px;
                        text-align: center;

                        span {
                            .font-size(30);
                            line-height: 100px;
                            font-weight: bold;

                            &.month {
                                margin-left: 5px;
                            }
                        }
                    }
                }

                @media @gte540 {
                    .font-size(14);

                    .categories, .tags {
                        display: block;
                    }

                    .time-stamp {
                        float: right;
                        color: @text-lighter;
                        padding-left: 0;
                        border-left: 0;
                        margin-right: 0;
                    }

                    .comments {
                        float: left;
                    }

                    div {
                        margin-right: 10px;
                        border-left: 1px solid @text-lighter;
                        padding-left: 10px;
                        color: @main-green;

                        &:first-child {
                            padding-left: 0;
                            border-left: 0;
                        }

                        ul, li {
                            display: inline-block;
                        }
                    }
                }

            }

            h2 {
                color: #000;
                .font-size(20);
                text-align: center;
                margin: 15px 0;
                line-height: 1.2;

                @media @gte540 {
                    text-align: left;
                    .font-size(30);
                }

                @media @gte800 {
                    padding-left: 10px;
                }

                a {
                    color: @text-dark;

                    &:hover {
                        color: @main-green;
                    }
                }
            }

            p {
                .font-size(14);
                color: darken(@text-lighter, 10%);
                line-height: 1.4;
                word-warp: break-word;
                word-break: break-all;
                text-align: justify;
                margin-bottom: 1em;

                @media @gte540 {
                    line-height: 1.6;
                    .font-size(16);
                }

                @media @gte800 {
                    padding-left: 10px;
                }
            }

            .more {
                float: right;
                margin: 10px 0;
                .font-size(12); 

                @media @gte540 {
                    .font-size(14); 
                    margin: 10px 0 20px 0;

                    a {
                        border-bottom: 1px solid @text-lightest;
                        padding-bottom: 3px;

                        &:hover {
                           border-color: @main-green; 
                        }
                    }
                }
            }
        }
    }

    /* for load button */
    .load {
        margin: 15px 0;
        padding: 0;

        a {
            display: block;
            margin: 0 auto;
            width: 140px;
            height: 50px;
            line-height: 50px;
            color: #fff;
            background: @main-green;
            text-align: center;
            .font-size(16);
            border-radius: 6px;
        }

        @media @gte540 {
            margin: 30px 0;
        }
    }
}

/* footer */
footer {
    text-align: center;
    color: @text-lighter;
    .font-size(14);
    margin-bottom: 20px;

    @media @gte540 {
        .font-size(16);
    }
}