/* less define */
@main-green: #4AB3A5;
@text-dark: #272727;
@text-lighter: #8e8e8e;
@text-lightest: #b7b7b7;
@nav-gray: #bcbcbc;
@background-white: #fefefe;

@img: "../images/";

.font-size(@size) {
    font-size: unit(@size, px);
    font-size: unit(@size/10, rem);
}

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;

    &::before, &::after {
        content: '';
        content: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* overall */
.clearfix {
    zoom: 1;

    &::after {
        content: ".";
        height: 0;
        width: 0;
        visibility: hidden;
        clear: both;
        font-size: 0;
        display: block;
    }
}

.row {
    min-width: 300px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei",
        "微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
}

a {
    text-decoration: none;
    color: @text-lighter;
    outline: 0;

    &:hover {
        color: @main-green;
    }
}

input {
    &::-webkit-search-decoration, &::-webkit-search-cancel-button {
        display: none;
    }
}

/* header */
header {
    @header-border: 1px solid #e6eaed;

    border-bottom: @header-border;

    .row {
        padding: 0;
    }

    .mini-nav {
       
        & > ul > li {
            float: right;
            border-left: @header-border;

            &:first-child {
                float: left;
                border-left: none;
                border-right: @header-border;
            }

            &.search input {
                display: none;
            }

            & > a {
                display: block;
                height: 50px;
                width: 50px;
                background: url("@{img}mini-icons.png") no-repeat transparent;
                text-indent: -9999px;

                @media screen and (-webkit-device-pixel-ratio: 2) {
                    background-image: url("@{img}mini-icons@2x.png");
                    background-size: 250px 50px;
                }
            }

            &.tag {
                & > a {
                    background-position: -50px 0;
                }
            }

            &.category {
                & > a {
                    background-position: -100px 0;
                }
            }

            &.about {
                & > a {
                    background-position: -150px 0;
                }
            }

            &.search {
                & > a {
                    background-position: -200px 0;
                }
            }
        }
    }

    .main-nav {
        width: 100%;
        float: left;

        & > ul > li > a {
            display: none;
         }

        .drop-menu {
            border-top: @header-border; 
            padding: 10px 5px;
            text-align: center;

            li {
                display: inline-block;
                padding: 5px;
            }

            li a {
                .font-size(14);
            }
        }

        .search {
            border-top: @header-border; 
            height: 35px;

            input {
                -webkit-appearance: none;
                border: none;
                height: 35px;
                padding: 0 10px;
                .font-size(14);

                &:focus {
                    border: none;
                    outline: none;

                    &::-webkit-input-placeholder {
                        color: transparent;
                    } 
                }
            }
        }

        .tag, .category, .search {
            display: none;
        }
    }

    .avatar  {
        display: none;
    }
}

.container {
    margin-top: 50px;
}